# Load the data

In [1]:
import graphlab

In [2]:
people = graphlab.SFrame('people_wiki.gl/')

/opt/conda/lib/python2.7/site-packages/requests/packages/urllib3/connection.py:266: SubjectAltNameWarning: Certificate for beta.graphlab.com has no `subjectAltName`, falling back to check for a `commonName` for now. This feature is being removed by major browsers and deprecated by RFC 2818. (See https://github.com/shazow/urllib3/issues/497 for details.)
  SubjectAltNameWarning
2016-06-12 16:53:38,242 [INFO] graphlab.cython.cy_server, 176: GraphLab Create v1.9 started. Logging: /tmp/graphlab_server_1465750417.log

This non-commercial license of GraphLab Create is assigned to jzhao59@illinois.edu and will expire on June 11, 2017. For commercial licensing options, visit https://dato.com/buy/.

# Select the people

In [3]:
John = people[people['name'] == 'Elton John']
John['word_count'] = graphlab.text_analytics.count_words(John['text'])

In [4]:
John_word_count = John[['word_count']].stack('word_count', new_column_name = ['word','count'])

John_word_count.sort('count',ascending=False)

Columns:
	word	str
	count	int

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|   he  |   7   |
|  john |   7   |
|   on  |   6   |
| since |   5   |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## TF-IDF

In [5]:
people['word_count'] = graphlab.text_analytics.count_words(people['text'])
people['tfidf'] = graphlab.text_analytics.tf_idf(people['word_count'])

In [6]:
new_John = people[people['name'] == 'Elton John']

new_John[['tfidf']].stack('tfidf', new_column_name = ['word', 'tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
|  overallelton | 10.9864953892 |
| tonightcandle | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## Distance

In [7]:
john = people[people['name'] == 'Elton John']

beckham = people[people['name'] == 'Victoria Beckham']

mccartney = people[people['name'] == 'Paul McCartney']

In [8]:
graphlab.distances.cosine(john['tfidf'][0], beckham['tfidf'][0])

0.9567006376655429

In [9]:
graphlab.distances.cosine(john['tfidf'][0], mccartney['tfidf'][0])

0.8250310029221779

# KNN Model

In [1]:
word_model = graphlab.nearest_neighbors.create(people, features=['word_count'], label='name')

NameError: name 'graphlab' is not defined

In [ ]:
tfidf_model = graphlab.nearest_neighbors.create(people, features=['tfidf'], label='name')

Starting brute force nearest neighbors model training.

In [ ]:
word_model.query(john)

In [ ]:
tfidf_model.query(john)

In [ ]:
word_model.query(beckham)

In [ ]:
tfidf_model.query(beckham)